.header{
    display: flex;
    position: fixed;
    z-index: 1;
}

.title{
    margin: 0.8rem 1.8rem 0.8rem 0.8rem;
    padding: 0.2rem;
    background-color: black;
}

.menu-item{
    margin: 0.8rem 0.8rem 0.8rem 0;
    padding: 0.2rem;
    background-color: black;
}
