.display{
    height: 100vh;
    overflow: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

.container{
    width: 100vw;
    height: 100vh;
    position: relative;
    scroll-snap-align: start;
    content-visibility: auto;
    contain-intrinsic-size: 100vh 100vw;
}

img{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.info{
    position: absolute;
    margin: 3rem 0 0 0.8rem;
    padding: 0.2rem;
    background-color: black;
}
