.display{
//    width: 100vw;
    height: 100%;
    scroll-snap-type: y mandatory;
//    scroll-snap-points-y: repeat(100vh);
}

.container{
    width: 100vw;
    height: 100vh;
    position: relative;
    scroll-snap-align: start;
}

img{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.info{
    position: absolute;
    margin: 3rem 0 0 0.8rem;
    padding: 0.2rem;
    background-color: black;
}
