.modal{
    display: none;
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
}

.container {
    margin: auto;
    display: block;
    
}
